.btn-side__left {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -88px;
    user-select: none;
    .item {
        padding: 10px 10px;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 22px;
        cursor: pointer;
    }
}
.btn-side__right {
    position: absolute;
    right: 0px;
    top: 50%;
    .item {
        display: block;
        margin-top: -22px;
        padding: 8px 16px;
        height: 28px;
        line-height: 28px;
        font-size: 16px;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 30px;
        cursor: pointer;
        user-select: none;
    }
}
