.camera-tag {
    position: absolute;
    display: flex;
    /* row是flex-direction默认值,可以不设置，表示主轴为水平方向，从左向右排列*/
    flex-direction: row;
    /*space-between表示*/
    justify-content: space-between;
    /* visibility: hidden; */
    backface-visibility: hidden;
    .message {
        color: #fff;
        background: rgba(0, 0, 0, 0.5);
        padding: 0px;
        /* 边框 */
        background: linear-gradient(#00ffff, #00ffff) left top,
        linear-gradient(#00ffff, #00ffff) left top,
        linear-gradient(#00ffff, #00ffff) right bottom,
        linear-gradient(#00ffff, #00ffff) right bottom;
        background-repeat: no-repeat;
        background-size: 2px 20px, 36px 2px;
        background-color: rgba(255, 255, 255, 0.1);
        color: #ffffff;
        font-size: 18px;
        padding: 8px 12px;
    }
}


