#color-btn-group {
    width: 380px;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 16px;
    border-radius: 6px;
    left: 50%;
    margin-left: -190px;
    top: 100%;
    margin-top: -80px;
    user-select: none;
    .color-choose {
        display: inline-block;
        margin-left: 20px;
        cursor: pointer;
    }
    .color-choose img {
        width: 50px;
        border-radius: 25px;
    }
}

